@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.auth {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  background-color: #f7fe7d;
  font-weight: 900;
  max-height: 22vh;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
}
#todo-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}
.list-items {
  margin-bottom: 40px;
}
.all-todos {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#name-of-list {
  padding: 1px;
  text-align: center;
  margin: 5px;
}
#todo-lists {
  margin-bottom: 10px;
  margin-left: 20px;
}

/* .single-list {
  text-align: center;
  border-style: solid;
  padding: 30px;
  margin: 30px 300px;
} */

.single-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  /* min-height: 300px; */
  margin-top: 30px;
}
.todo-list {
  background-color: #fff;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 300px;
  max-width: 100%;
  min-height: 200px;
  margin: 15px;
}
.container {
  display: flex;
  flex-direction: column;

  align-items: center;
}
#single-list-name {
  /* border-style: dotted;
  border-color: peachpuff; */
  text-align: center;
  max-width: 500px;
  margin-top: 15px;
  padding-bottom: 5px;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.main-header {
  font-size: 390%;
  font-weight: 900;
  padding: 0px 200px;
}
img {
  width: 200px;
}
.main-description {
  font-size: x-large;
  padding: 1vw 7vw;
  margin: 1vw 7vw;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.create-task-button {
  margin: 20px;
}
#main-page-image {
  width: 600px;
}
.quotes {
  padding: 1vw 7vw;
  margin: 1vw 7vw;
}
#demo {
  height: fit-content;
  margin-left: 5px;
  margin-top: 9px;
}
.demo-button {
  padding-top: 15px;
}
.password {
  display: flex;
  justify-content: center;
}
.verify-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-list {
  margin: 30px;
}
.calendar-component {
  display: flex;
  justify-content: space-evenly;
}
.calendar-day {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.calendar-label {
  font-size: 30px;
}
.calendar-heading {
  padding: 10px;
  text-align: center;
}
.tail-datetime-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-navi {
  padding: 30px;
}
.calendar-day {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='40' viewport='0 0 100 100' style='fill:white;font-size:24px;'><text y='50%'>➕</text></svg>")
      16 0,
    auto;
}
.today {
  border: dotted;
}
.tasked {
  color: orangered;
  margin: 0;
  font-size: medium;
  text-align: center;
}
.modal {
  background-color: plum;
  padding: 50px;
  border-radius: 25px;
}
.calendar-buttons {
  display: flex;
}
.calendar-buttons button {
  margin: 20px;
}
.react-calendar-heatmap {
  width: 1000px;
  height: 250px;
  /* padding: 50px; */
}

.calendar-heatmap {
  display: flex row;
  justify-content: center;
  align-items: center;
}

.heatmap-component {
  display: flex;
  justify-content: space-evenly;
}
.un-tasked {
  color: white;
  margin: 0;
  font-size: medium;
  text-align: center;
}
.upcoming {
  margin: 30px;
}
/* .specific-event {
  padding: 10px;
} */
