body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f7fe7d;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
}
#todo-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}
.all-todos {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#name-of-list {
  padding: 1px;
  text-align: center;
  margin: 5px;
}
#todo-lists {
  margin-bottom: 10px;
  margin-left: 20px;
}
button {
  border-radius: 12px;
}
.single-list {
  text-align: center;
  border-style: solid;
  padding: 30px;
  margin: 30px 300px;
}
#single-list-name {
  border-style: dotted;
  border-color: peachpuff;
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding-bottom: 5px;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.main-header {
  font-family: 'Graphik', 'Helvetica Neue', helvetica, 'Apple Color Emoji',
    arial, sans-serif;
  font-size: 390%;
  font-weight: 900;
  padding: 0px 200px;
}
img {
  width: 200px;
}
.main-description {
  font-size: x-large;
  padding: 0px 100px 0px 100px;
}

#main-page-button {
  background-color: #f7fe7d;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
}
.create-task-button {
  margin: 20px;
}
#main-page-image {
  width: 600px;
}
