@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
.auth {
  display: flex;
  justify-content: center;
  font-weight: 900;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f7fe7d;
}

form div {
  margin: 1em;
  display: inline-block;
}

.single-todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
}
#todo-lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}
.all-todos {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#name-of-list {
  padding: 1px;
  text-align: center;
  margin: 5px;
}
#todo-lists {
  margin-bottom: 10px;
  margin-left: 20px;
}
button {
  border-radius: 12px;
}
/* .single-list {
  text-align: center;
  border-style: solid;
  padding: 30px;
  margin: 30px 300px;
} */

.single-list {
  background-color: #fff;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-top: 30px;
}
.container {
  display: flex;
  justify-content: center;
}
#single-list-name {
  /* border-style: dotted;
  border-color: peachpuff; */
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding-bottom: 5px;
}

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.main-header {
  font-size: 390%;
  font-weight: 900;
  padding: 0px 200px;
}
img {
  width: 200px;
}
.main-description {
  font-size: x-large;
  padding: 0px 100px 0px 100px;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.create-task-button {
  margin: 20px;
}
#main-page-image {
  width: 600px;
}
